@import "tailwindcss";

@theme {

--color-maroon-50: #f2f6ff;
--color-maroon-100: #e6edff;
--color-maroon-200: #cdd9ff;
--color-maroon-300: #aabfff;
--color-maroon-400: #809cff;
--color-maroon-500: #5c7cfa;
--color-maroon-600: #4c63d2;
--color-maroon-700: #3b4da6;
--color-maroon-800: #2f3d82;
--color-maroon-900: #1f2a5a;

--color-burlywood-50: #fffaf0;
--color-burlywood-100: #fef3c7;
--color-burlywood-200: #fde68a;
--color-burlywood-300: #fcd34d;
--color-burlywood-400: #fbbf24;
--color-burlywood-500: #f59e0b;
--color-burlywood-600: #d97706;
--color-burlywood-700: #b45309;
--color-burlywood-800: #92400e;
--color-burlywood-900: #78350f;

}